.dbMain{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.dbContainer{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.dbCardTrue{
    display: flex;
    width: 85%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    align-self: center;
    background-color: rgb(218, 245, 255, .5);
    padding-left: 10px;
    padding-right: 10px;
}

.dbCardTrue:hover{
    background-color: rgb(218, 245, 255);
    z-index: 2;
    transform: scale(1.1)
}

.dbCardFalse{
    display: flex;
    width: 85%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    align-self: center;
    background-color: rgb(250, 255, 127, .5);
    padding-left: 10px;
    padding-right: 10px;
}

.dbCardFalse:hover{
    background-color: rgb(250, 255, 127);
    z-index: 2;
    transform: scale(1.1)
}